@* 
<nav class="pagination">
    <ul class="pagination">
        @for (int ind = 1; ind <= ViewBag.TotalPages; ind++)
        {
            <li class="page-item @(ind == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action(ViewData["action"].ToString(), new { page = ind, pageSize = 10 })">@ind</a>
            </li>
        }
    </ul>
</nav> *@

<nav class="pagination">
    <ul class="pagination">
        <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(ViewData["action"].ToString(), new { page = ViewBag.CurrentPage - 1, pageSize = 10 })">Previous</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action(ViewData["action"].ToString(), new { page = i, pageSize = 10 })">@i</a>
            </li>
        }
        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(ViewData["action"].ToString(), new { page = ViewBag.CurrentPage + 1, pageSize = 10 })">Next</a>
        </li>
    </ul>
</nav>