@model iTCShop.Models.ProductType

@{
    var divId = ViewData["divId"];
    var formId = ViewData["formId"];
    var formAction = ViewData["formAction"];
    var buttonText = ViewData["buttonText"];
    var isEdit = ViewData["functionName"].ToString().Contains("Edit") ? true : false;
}

<div class="modal fade" id="@divId" tabindex="-1" role="dialog" aria-labelledby="editProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel">@ViewData["functionName"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="@formId" action="@formAction" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="productName">ID</label>
                        <input type="text" class="form-control" id="productId" name="id" value="" required readonly>
                    </div>
                    <label for="productName">Name</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Iphone</span>
                        <input type="text" class="form-control" name="name" aria-label="" id="productName" value="" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price</label>
                        <input type="number" class="form-control" id="productPrice" name="price" value="$@Model?.Price" required>
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Description</label>
                        <textarea class="form-control" id="productDescription" name="description" required>@Model?.Description</textarea>
                    </div>
                    <div class="form-group">
                        <label for="productSize">Size</label>
                        <input type="number" step="0.01" class="form-control" id="productSize" name="size" value="@Model?.Size" required>
                    </div>
                    <div class="form-group">
                        <label for="productBattery">Battery</label>
                        <input type="number" class="form-control" id="productBattery" name="battery" value="@Model?.Battery" required min="1">
                    </div>
                    <div class="form-group">
                        <label for="productMemory">Memory</label>
                        <select class="form-control" id="productMemory" name="memory" required >
                            <option value="64">64</option>
                            <option value="128">128</option>
                            <option value="256">256</option>
                            <option value="512">512</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="productColor">Color</label>
                        <input type="text" class="form-control" id="productColor" name="color" value="@Model?.Color" required >
                    </div>
                    <div class="form-group">
                        <label for="productRAM">RAM</label>
                        <input type="number" class="form-control" id="productRAM" name="ram" value="@Model?.RAM" min="1" required>
                    </div>
                    <div class="form-group">
                        <label for="productPicture">Picture</label>
                        <input type="file" class="form-control" id="productPicture" name="picture" required>
                    </div>
                    <button type="submit" class="btn btn-primary">@buttonText</button>
                </form>
            </div>
        </div>
    </div>
</div>



