@using iTCShop.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model List<ProductType>
@{
    var user = HttpContextAccessor.HttpContext.Session.GetCustomer();
    var admin = HttpContextAccessor.HttpContext.Session.GetAdmin();
    if (user != null) Layout = "~/Views/Shared/_Layout.cshtml";
    if (admin != null) Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Home Page";
    var az = false;
    if (ViewBag.Sort == "nameAZ") az = true;
    var za = false;
    if (ViewBag.Sort == "nameZA") za = true;
    var desc = false;
    if (ViewBag.Sort == "priceDes") desc = true;
    var acs = false;
    if (ViewBag.Sort == "priceAcs") acs = true;
}
<link rel="stylesheet" href="~/css/Site.css">
<div id="carouselExampleInterval" class="carousel slide center" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="~/asset/slide1.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="~/asset/slide2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/asset/slide3.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="filter center">
    <h2 id="title">IPHONE</h2>
    <form action="/ProductType/Search" method="get">
        <input type="text" id="search" name="search" placeholder="Tìm kiếm" value="@ViewBag.Search">
        <select name="sort" id="arrange">
            <option value="nameAZ" selected="@az">Theo tên A - Z</option>
            <option value="nameZA" selected="@za">Theo tên Z - A</option>
            <option value="priceDes" selected="@desc">Theo giá giảm dần</option>
            <option value="priceAcs" selected="@acs">Theo giá tăng dần</option>
        </select>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button> 
    </form>
</div>

<div id="partialProductType" class="content center">
    @{
        foreach (var item in Model)
        {
            <div class="product" id="@item.ID">
                <img src="~/asset/@item.Picture" alt="" style="height:300px;width:300px; border-radius:10px">
                <p style="font-size: larger; font-weight: bold">@item.Name</p>
                <del>@(item.Price + 5000)</del>
                <p style="color: red; font-size: large; font-weight: bold">$ @item.Price</p>
                <p>@item.Memory GB @item.Color</p>
                <i class="fa-solid fa-plus" style="color:red; font-size: large; border:1px solid red; padding-top: 5px; margin-bottom: 8px;" product-type-id="@item.ID"></i>
            </div>
        }
    }
</div>
@*@{
    var response = TempData.Get<ResponseModel>("response");
    if (response != null)
    {
        Html.RenderPartial("_ErrorPartial", response);
    }
}*@