@model CartDetails

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    decimal total = 0;
}
<table class="table table-success table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Memory</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int index = 0; index < Model.ProductTypes.Count; index++)
        {
            var item = Model.ProductTypes[index];
            total += item.Price * Model.Quantity;
            <tr>
                <th scope="row">@(++i)</th>
                <td>@item.Picture</td>
                <td>@item.Name</td>
                <td>@item.Color</td>
                <td>@item.Memory</td>
                <td>@item.Price</td>
                <td>@Model.Quantity</td>
                <td>@(item.Price * Model.Quantity)</td>
                <td>
                    <form action="/Cart/DropCartDetails" method="post">
                        <input type="hidden" name="id" value="@Model.ID" />
                        <button type="submit" class="btn btn-primary" id="@Model.ID">Drop</button>
                    </form>
                </td>
                <td>
                    <form action="/Cart/AddCartDetails" method="post">
                        <input type="hidden" name="productTypeID" value="@Model.ProductTypeID" />
                        <input type="hidden" name="cartID" value="@Model.ID" />
                        <button type="submit" class="btn btn-primary" id="@Model.ID">Add</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<form action="/Order/Order" method="post">
    <div>
        <h2>Total : @total </h2>
        <input type="hidden" name="total" value="@total" />
        <button type="submit" class="btn btn-primary">Order</button>
    </div>
    @for (int index = 0; index < Model.ProductTypes.Count; index++)
    {
        var item = Model.ProductTypes[index];
        <input type="hidden" name="cartDetails[@index].ProductTypeID" value="@Model.ProductTypeID" />
        <input type="hidden" name="cartDetails[@index].Quantity" value="@Model.Quantity" />
        <input type="hidden" name="cartDetails[@index].Price" value="@item.Price" />
    }
</form>
@{
    var response = TempData.Get<ResponseModel>("response");
    if (response != null)
    {
        Html.RenderPartial("_ErrorPartial", response);
    }
}