@model List<CartDetails>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<table class="table table-success table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            @foreach ( var item in Model)
            {
            <tr>
                <th scope="row">@(++i)</th>
                <td>@item.ProductType.Picture</td>
                <td>@item.ProductType.Name</td>
                <td>@item.ProductType.Price</td>
                <td>@item.Quantity</td>
                <td>@(item.ProductType.Price * item.Quantity)</td>
                <th scope="col"><button type="button" class="btn btn-primary">Delete</button></th>
            </tr>
            }
        
    </tbody>
</table>