@model List<CartDetails>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var i = 0;
    decimal total = 0;
}

<h1> Cart </h1>
<table class="table table-success table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Memory</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int index = 0; index < Model.Count; index++)
        {
            var item = Model[index];
            total += item.ProductType.Price * item.Quantity;
            <tr>
                <th scope="row">@(++i)</th>
                <td><img src="~/ProductImages/@item.ProductType.Picture" alt="Image" style="height: 50px; width: 50px" /></td>
                <td>@item.ProductType.Name</td>
                <td>@item.ProductType.Color</td>
                <td>@item.ProductType.Memory</td>
                <td>@MoneyDTO.Convert(item.ProductType.Price)</td>
                <td>@item.Quantity</td>
                <td>@MoneyDTO.Convert(item.ProductType.Price * item.Quantity)</td>
                <td>
                    <form action="/Cart/DropCartDetails" method="post" style="background-color:none; padding: 0px;box-shadow:none">
                        <input type="hidden" name="id" value="@item.ID" />
                        <button type="submit" class="btn btn-primary" id="@item.ID">Drop</button>
                    </form>
                </td>
                <td>
                    <form action="/Cart/AddCartDetails" method="post" style="background-color:none; padding: 0px;box-shadow:none">
                        <input type="hidden" name="productTypeID" value="@item.ProductTypeID" />
                        <input type="hidden" name="customerID" value="@item.CustomerID" />
                        <button type="submit" class="btn btn-primary" id="@item.ID">Add</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<form action="/Order/Order" method="post">
    <div>
        <h2>Total :  @MoneyDTO.Convert(total) </h2>
        <input type="hidden" name="total" value="@total" />
        <button type="submit" class="btn btn-primary" style="width: 30%">Order</button>
    </div>
    @for (int index = 0; index < Model.Count; index++)
    {
        var item = Model[index];
        <input type="hidden" name="cartDetails[@index].ProductTypeID" value="@item.ProductTypeID" />
        <input type="hidden" name="cartDetails[@index].Quantity" value="@item.Quantity" />
        <input type="hidden" name="cartDetails[@index].Price" value="@item.ProductType.Price" />
    }
</form>
