@using iTCShop.Models
@model List<ProductType>
@{
    foreach (var item in Model)
    {
        <div class="product" id="@item.ID">
            <img src="~/asset/IP.jpg" alt="">
            <del>@(item.Price + 5000)</del>
            <p>@item.Price</p>
            <p>@item.Name</p>
            <i class="fa-solid fa-plus" data-product-type="@item.ID"></i>
        </div>
    }
}


