@model List<Order>

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    decimal totalRevenue = Model.Sum(order => order.TotalPay);
    int totalOrders = Model.Count;
    decimal averageOrderValue = totalOrders > 0 ? totalRevenue / totalOrders : 0;
    var i = 0;
    var mostValueTypes = TempData.Get<dynamic>("mostSold");
}

<h1 class="text-center">Shop Reports</h1>
<br />
<form method="get" action="~/Order/Search" class="row g-3 mb-3" style="display: flex; justify-content:flex-end">
    <div class="col-auto">
        <label for="startDate" class="col-form-label">Start Date</label>
        <input type="date" class="form-control" id="startDate" name="startDate" value="" required>
    </div>
    <div class="col-auto">
        <label for="endDate" class="col-form-label">End Date</label>
        <input type="date" class="form-control" id="endDate" name="endDate" value="" required>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mt-4">Filter</button>
    </div>
</form>

<div class="container mt-5">
    <div class="mt-5">
        <h2>Revenue Statistics</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Total Revenue</th>
                    <th>Total Orders</th>
                    <th>Average Order Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@MoneyDTO.Convert(@totalRevenue)</td>
                    <td>@totalOrders</td>
                    <td>@MoneyDTO.Convert(@averageOrderValue)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>
        <p class="collapsed" data-bs-toggle="collapse" href="#orderListCollapse" role="button" aria-expanded="false" aria-controls="orderListCollapse">
            Order List <i class="fas fa-chevron-down"></i>
        </p>
    </h2>
    <div class="collapse" id="orderListCollapse">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>OrderID</th>
                    <th>Order Date</th>
                    <th>Shipping Address</th>
                    <th>Total Pay</th>
                    <th>Status</th>
                    <th>Payment Method</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@(++i)</td>
                        <td>@order.ID</td>
                        <td>@order.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@order.ShipAddress</td>
                        <td>@MoneyDTO.Convert(@order.TotalPay)</td>
                        <td>@order.Status</td>
                        <td>@order.PayMethod</td>
                        <td>
                            <button class="btn btn-info btn-sm" data-bs-toggle="collapse" data-bs-target="#details-@order.ID" aria-expanded="false" aria-controls="details-@order.ID">
                                Details
                            </button>
                        </td>
                    </tr>
                    <tr class="collapse" id="details-@order.ID">
                        <td colspan="8">
                            <div class="p-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Product ID</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var detail in order.OrderDetails)
                                        {
                                            <tr>
                                                <td>@detail.ProductID</td>
                                                <td>@detail.Quantity</td>
                                                <td>@MoneyDTO.Convert(@detail.Price)</td>
                                                <td>@(MoneyDTO.Convert(detail.Quantity * detail.Price))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h2>
        <p class="collapsed" data-bs-toggle="collapse" href="#bestSalesCollapse" role="button" aria-expanded="false" aria-controls="bestSalesCollapse">
            Best Sales <i class="fas fa-chevron-down"></i>
        </p>
    </h2>
    <div class="collapse" id="bestSalesCollapse">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product type</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in mostValueTypes)
                {
                    <tr>
                        <td>@item.ProductTypeId</td>
                        <td>@item.TotalQuantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
